<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--MV: https://study.163.com/course/introduction/1005991005.htm-->

    <bean id="student" class="com.netease.entity.Student">
        <property name="stuNo" value="1"></property>
        <property name="stuName" value="ls"></property>
        <property name="stuAge" value="24"></property>
    </bean>
</beans>